@import "sass-breakpoints";
@import "./index";

$spacing-breakpoint-attribute-prefix: 'u-' !default;

@each $breakpoint, $units in $breakpoints {
  @include breakpoint($breakpoint) {
    @each $size, $units in $spacing-sizes {

      // === Margin ===

      [#{$spacing-breakpoint-attribute-prefix}#{$breakpoint}~=m#{$size}] {
        @include m($size);
      }

      [#{$spacing-breakpoint-attribute-prefix}#{$breakpoint}~=mx#{$size}] {
        @include mx($size);
      }

      [#{$spacing-breakpoint-attribute-prefix}#{$breakpoint}~=my#{$size}] {
        @include my($size);
      }

      [#{$spacing-breakpoint-attribute-prefix}#{$breakpoint}~=ml#{$size}] {
        @include ml($size);
      }

      [#{$spacing-breakpoint-attribute-prefix}#{$breakpoint}~=mt#{$size}] {
        @include mt($size);
      }

      [#{$spacing-breakpoint-attribute-prefix}#{$breakpoint}~=mr#{$size}] {
        @include mr($size);
      }

      [#{$spacing-breakpoint-attribute-prefix}#{$breakpoint}~=mb#{$size}] {
        @include mb($size);
      }

      // === Padding ===

      [#{$spacing-breakpoint-attribute-prefix}#{$breakpoint}~=p#{$size}] {
        @include p($size);
      }

      [#{$spacing-breakpoint-attribute-prefix}#{$breakpoint}~=px#{$size}] {
        @include px($size);
      }

      [#{$spacing-breakpoint-attribute-prefix}#{$breakpoint}~=py#{$size}] {
        @include py($size);
      }

      [#{$spacing-breakpoint-attribute-prefix}#{$breakpoint}~=pl#{$size}] {
        @include pl($size);
      }

      [#{$spacing-breakpoint-attribute-prefix}#{$breakpoint}~=pt#{$size}] {
        @include pt($size);
      }

      [#{$spacing-breakpoint-attribute-prefix}#{$breakpoint}~=pr#{$size}] {
        @include pr($size);
      }

      [#{$spacing-breakpoint-attribute-prefix}#{$breakpoint}~=pb#{$size}] {
        @include pb($size);
      }

    }
  }
}