@import "sass-named-breakpoints";
@import "./mixins";

$responsive-utility-prefix: 'g-';

@each $breakpoint, $units in $named_breakpoints {
  @include named_breakpoint($breakpoint) {
    @each $size, $units in $spacing_sizes {

      // === Margin ===

      [#{$responsive-utility-prefix}#{$breakpoint}~=m#{$size}] {
        @include m($size);
      }

      [#{$responsive-utility-prefix}#{$breakpoint}~=mx#{$size}] {
        @include mx($size);
      }

      [#{$responsive-utility-prefix}#{$breakpoint}~=my#{$size}] {
        @include my($size);
      }

      [#{$responsive-utility-prefix}#{$breakpoint}~=ml#{$size}] {
        @include ml($size);
      }

      [#{$responsive-utility-prefix}#{$breakpoint}~=mt#{$size}] {
        @include mt($size);
      }

      [#{$responsive-utility-prefix}#{$breakpoint}~=mr#{$size}] {
        @include mr($size);
      }

      [#{$responsive-utility-prefix}#{$breakpoint}~=mb#{$size}] {
        @include mb($size);
      }

      // === Padding ===

      [#{$responsive-utility-prefix}#{$breakpoint}~=p#{$size}] {
        @include p($size);
      }

      [#{$responsive-utility-prefix}#{$breakpoint}~=px#{$size}] {
        @include px($size);
      }

      [#{$responsive-utility-prefix}#{$breakpoint}~=py#{$size}] {
        @include py($size);
      }

      [#{$responsive-utility-prefix}#{$breakpoint}~=pl#{$size}] {
        @include pl($size);
      }

      [#{$responsive-utility-prefix}#{$breakpoint}~=pt#{$size}] {
        @include pt($size);
      }

      [#{$responsive-utility-prefix}#{$breakpoint}~=pr#{$size}] {
        @include pr($size);
      }

      [#{$responsive-utility-prefix}#{$breakpoint}~=pb#{$size}] {
        @include pb($size);
      }

    }
  }
}