
$spacing_sizes: (
  0: 0rem,
	1: 1rem,
	2: 2rem,
	3: 3rem,
	4: 4rem,
  5: 5rem,
  6: 6rem,
) !default;

@mixin m($size : 1) {
  margin: map-get($spacing_sizes, $size);
}

@mixin mx($size : 1) {
  margin-left: map-get($spacing_sizes, $size);
  margin-right: map-get($spacing_sizes, $size);
}

@mixin my($size : 1) {
  margin-top: map-get($spacing_sizes, $size);
  margin-bottom: map-get($spacing_sizes, $size);
}

@mixin ml($size : 1) {
  margin-left: map-get($spacing_sizes, $size);
}

@mixin mt($size : 1) {
  margin-top: map-get($spacing_sizes, $size);
}

@mixin mr($size : 1) {
  margin-right: map-get($spacing_sizes, $size);
}

@mixin mb($size : 1) {
  margin-bottom: map-get($spacing_sizes, $size);
}

@mixin p($size : 1) {
  padding: map-get($spacing_sizes, $size);
}

@mixin px($size : 1) {
  padding-left: map-get($spacing_sizes, $size);
  padding-right: map-get($spacing_sizes, $size);
}

@mixin py($size : 1) {
  padding-top: map-get($spacing_sizes, $size);
  padding-bottom: map-get($spacing_sizes, $size);
}

@mixin pl($size : 1) {
  padding-left: map-get($spacing_sizes, $size);
}

@mixin pt($size : 1) {
  padding-top: map-get($spacing_sizes, $size);
}

@mixin pr($size : 1) {
  padding-right: map-get($spacing_sizes, $size);
}

@mixin pb($size : 1) {
  padding-bottom: map-get($spacing_sizes, $size);
}
